/*body {
    font-family: 'Overpass', sans-serif;
    margin: 0;

}*/

/* Row 1: Header*/
/* Row 1.1: Personal Image*/

.yourImg {
    border-radius: 50%;
    padding-top: 25px;
    padding-bottom: 25px;
    /* relative keep in place responive margin auto and block */
    margin: 0 auto;
    position: relative;
    display: block;
}
/*Row 1.2: Personal Name*/
.yourName {
    text-align: center;
    font-size: 55px;
    font-weight: lighter;
}

/* Row 1.3: Personal Tag Line*/
.oneLinerRow {
    margin-bottom: 10px;
}
.oneLinerDiv {
    font-size: 20px;
    font-weight: lighter;
    font-style: oblique;
    text-align: center;
}

/* Row 2: Main Menu*/
.menuButton {
    background-color: #d0dbe2;
    margin-left: 4%;
    margin-right: 4%;
    border: none;   
    color: black;
}

.menuButton:hover {
    background-color: #606c76;
}

    
/* Row 2: Main Menu On Opening Page*/
.menuStart {
    background-color:#d0dbe2;
    text-align: center;
    top: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    /*z index to combate textsection img carousel */
    z-index: 10;
    /*fixed position to keep at top of page until scroll*/
    position: fixed;
}


/* Row 2: Main Menu on Scrolling Page 
Moves to top of page */
.menuTop {
    background-color: #d0dbe2;
    text-align: center;
    top: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
   /* z index to combate textsection img carousel */
    z-index: 10;
}

/* Many headers */
.textHeader, .first, .none, .textDict, .listHeader, .listTitle {
    margin-left: 10%;
}
 /*TextSection Components General (Project Section /About Me)*/
.textSection{
    margin-top: 30px;
}
/* TextSection Head Title of TextSection */
.textHeader{
    font-size: 35px;
    font-weight: lighter;
}
/* TextSection.first Sub Title of TextSection */
.first{
    font-size: 25px;
    margin-top:20px;
    margin-bottom:20px;
    font-weight: lighter;
}
/* TextSection.none Text section of TextSection */
.none {
    display: block;
    font-weight: lighter;
    margin-bottom: 10px;
}

.imgCarouselList{
    margin-bottom: 10px;
}

.imgCarouselList li img {
    border: solid 1px gray;
}
.isSeen {
    position: relative;
    opacity: 1;
    z-index: 2;
    display: inline-block;
}

.isNotSeen {
    display:none !important;
    /*
    position: relative;
    opacity: 0;
    z-index: 1;
    display: inline-block;
    */
}

/* TextSection.img.button Buttons section of TextSection Images*/
.btnCarouselDiv {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button {
    background-color: #d0dbe2;
    border-color: #d0dbe2;
}

.button:hover {
    border-color: #d0dbe2;
}


.btnbackwardImg:focus, .btnforwardImg:focus{
    background-color: #606c76;
    color: white;
}

.btnCarouselDiv {
    margin-left: 20%;
}
.btnbackwardImg {
    border-radius: 5px 0px 0px 5px;
    font-size: 25px;
    color: black;
    cursor: pointer;
    vertical-align: middle;
    line-height: normal;
}

.btnforwardImg {
    border-radius: 0px 5px 5px 0px;
    font-size: 25px; 
    color:black;
    vertical-align: middle;
    line-height: normal;
}

.imgLinkDiv {
    display: inline-block;
}

.imgLinkAnchor {
    margin-left: 10px;
    display: inline-block;
    vertical-align: bottom;
}

.linkImg {
    display: block;
}

.textListHeader {
    margin-right: 10px;
    font-weight: bold;
}
.textList {
    font-weight: lighter;
    display: inline-block;
}


/*Specialty TextSection for AboutMe section*/
.About.textSection{
    margin-top:0px;

}

.About.textHeader {
    margin-bottom: 20px;
}

/*.About .textDict {
    overflow:auto;
    display: block;
    float: left;
    width: 30%;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 5px;
}*/
.subSectionDiv {
    margin-left: 10%;
}
.subSection {
    display: block;
    float: left;
}

.thirdTitle {
    font-weight: bold;
    margin-bottom: 10px;
}

.About li {
    font-size: 13px;
    line-height: 10px; 
}

/* List Component Section (Stack Section)*/
/*General List Section- same spacing as TextSection*/
ul {
  list-style-type: none;
}
/*List Section Name*/
.listHeader {
    font-size: 35px;
    font-weight: lighter;
}

/*Sub List Titles*/
.listTitle {
    margin-left: 11%;
    margin-right: 10px;
    font-weight: bold;
}

.listItemDiv {
    display: inline-block;
}

/*List Items*/
.listListItem{
    font-weight: lighter;
    display: inline-block;
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 0px;
}

@media only screen and (max-width: 692px) {
    .listItemUl {
        margin-left: 10%;
    }
}

.anchorLink {
    display: inline-block;
    float: left;
    text-decoration: none;
    color: black;
}

.linkMenu {
    overflow:auto;
    display: block;
    width: 100%;
    padding: 0px;
    padding-top: 10px;
    margin: 0px;
    text-align: center;
    background-color: #d0dbe2;
}
.linkDiv {
    display: inline-block;
    text-align: center;
    margin: 0px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color:  #d0dbe2;
    margin-left: 4%;
    margin-right: 4%;

}
.innerDiv {
    display: block;
}


.linkDiv li {
    text-align: center;
}

.linDiv[alt="Notebook"]{
    padding-left: 35%;
}

.linkTitle {
    /*text-align: center;*/   
    margin-top:10px;
    font-size: 12px;
    margin-bottom: 0px;
}

.linkImg {
   margin-bottom: 5px;
   display: block;
   margin: 0 auto;

}
.linkByline {
    text-align: center;
    margin:0px;
    font-size: 12px;
}


