body {
    font-family: 'Overpass', sans-serif;
    margin: 0;
}
/* Row 1: Header*/
/* Row 1.1: Personal Image*/
.imgDiv {
    /*height is keep div sized to hold image*/
    height: 225px;
}
.yourImg {
    margin-top: 25px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    /*postion relative is to keep picture in place but responsive*/
    position: relative;
    left: 40%;
}
/*Row 1.2: Personal Name*/
.yourName {
    text-align: center;
    font-size: 60px;
    font-weight: lighter;
}

/* Row 1.3: Personal Tag Line*/
.oneLinerDiv {
    font-size: 18px;
    font-weight: lighter;
    font-style: oblique;
    text-align: center;
    margin-bottom: 25px;

}
/* Row 2: Main Menu*/
.menuButton {
    background-color: #d0dbe2;
    margin-left: 4%;
    margin-right: 4%;
    border: none;   

}
/* Row 2: Main Menu On Opening Page*/
.menuStart {
    background-color: #d0dbe2;
    text-align: center;
    top: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    /*z index to combate textsection img carousel */
    z-index: 10;
    /*fixed position to keep at top of page until scroll*/
    position: fixed;
}

/* Row 2: Main Menu on Scrolling Page 
Moves to top of page */
.menuTop {
    background-color: #d0dbe2;
    text-align: center;
    top: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    /*z index to combate textsection img carousel */
    z-index: 10;
}

/* TextSection Components General (Project Section /About Me)*/
.textSection{
    margin-left: 10%;
    margin-top: 30px;
}
/* TextSection Head Title of TextSection */
.textHeader{
    font-size: 35px;
    font-weight: lighter;
}
/* TextSection.first Sub Title of TextSection */
.first{
    font-size: 20px;
    margin-top:20px;
    margin-bottom:20px;
}
/* TextSection.none Text section of TextSection */
.none {
    display: block;
    font-weight: lighter;
}
/* TextSection List with Header (Projects -Tech Stack, AboutMe-Thought Process)*/
/*Text section List Header*/
.textListHeader {
    font-weight: bold;
}
/* TextSection list content*/
.textDict, ul {
    display: inline-block;
    padding-left: 0px;

}
.textList {
   font-weight: lighter; 
}
/* TextSection.img Image section of TextSection */
.imgCarouselDiv{
    width: 50%;
    padding: 0px;
    margin-left: 20%;
}

.imgCarouselList {
    position: relative;
    height: 400px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: block;
}
.carouselProjects li img{
    border: 1px gray solid;
/*    width: 500px;
    width: 100%;*/
}

.isSeen {
    position: relative;
    /*position: absolute;*/
    /*height: 100%;*/
    opacity: 1;
    z-index: 2;
    display: inline-block;
}

.isNotSeen {
    position: relative;
    /*position: absolute;*/
    /*height: 100%;*/
    opacity: 0;
    z-index: 1;
    display: inline-block;
}

@media only screen and (max-width: 1000px) {
    
    .header{
        width: 100vw;
    }
    .menuStart {
        background-color: #d0dbe2;
        text-align: center;
        top: 0;
        width: 100vw;
        padding-top: 20px;
        padding-bottom: 20px;
        /*z index to combate textsection img carousel */
        z-index: 10;
        /*fixed position to keep at top of page until scroll*/
        /*position: absolute;*/
    }

    .textSection {
        margin-left: 0px;
    }

   .imgCarouselDiv{
        width: 70%;
        padding: 0px;
        margin: 0px;
        padding-left: 10%;
    } 

    .imgCarouselList {
        position: relative;
        height: 400px;
        padding: 0px;
        margin: 0px;
        list-style-type: none;
        display: block;
    }

    .carouselProjects li img{
        border: 1px gray solid;
       /*width: 500px;*/
        width: 100%;
    }

    .btnCarouselDiv {
        margin-top: 20px;
    }
    .textHeader, .first, .none, .textDict {
        margin-left: 10%;
    }
}
@media only screen and (max-width: 900px){
    /*.imgCarouselDiv {
        width: 90%;
    }*/
   .imgCarouselList {
        position: relative;
        height: 250px;
        padding: 0px;
        margin: 0px;
        /*background-color: orange;*/
        padding-bottom: 15%;
        /*margin-bottom: 0px;*/
        list-style-type: none;
        display: block;
    } 
}

@media only screen and (max-width: 580px){
    .imgCarouselDiv{
        width: 100%;
        padding: 0px;
        margin: 0px;

        margin-left: 20%;
    } 
   .imgCarouselList {
        position: relative;
        height: 300px;
        padding: 0px;
        margin: 0px;
        margin-bottom: 10px;
        list-style-type: none;
        display: block;
    } 
}

@media only screen and (max-width: 530px) {

    .imgDiv{
        padding-right: 40%;
    }

    .textHeader, .first, .none, .textDict {
        margin-left: 10%;
    }

    .btnCarouselDiv {
        margin-bottom: 10px;
        padding-left: 25%;
    }
    .imgCarouselList {
        position: relative;
        /*height: 400px;*/
        padding: 0px;
        margin: 0px;
        padding-bottom: 10%;
        margin-bottom: -30%;
        list-style-type: none;
        display: block;
    }

    

}

/* TextSection.img.button Buttons section of TextSection Images*/
.btnCarouselDiv {
    display: block;

}


.btnbackwardImg {
    float: left;
    position: relative;
    font-size: 25px;
    left: 15px;
    color: black;
}

.btnforwardImg {
    float: right;
    position: relative;
    font-size: 25px; 
    right: 15px;
    color:black;
}

.carouselDirectBtnDiv{
    display: inline-block;
    padding: 3px;
    height: 35px;
    width: 100px;
   /* margin-left: 20%;*/
    margin-top: 10px;
    background-color: #d0dbe2;
    border-radius: 5px;
}

.carouselLinkBtnDiv{
    display: inline-block;
   /* margin-left: 300px;*/
}

.carouselLinkBtnDiv.anchorLink{
    margin-right: 10px;
}

.anchorLink {
    display: inline-block;
    float: left;
    text-decoration: none;
    color: black;

}

/*Specialty TextSection for AboutMe section*/
.About .textDict {
    overflow:auto;
    display: block;
    float: left;
    width: 30%;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.About li {
    font-size: 13px;
}

/* List Component Section (Stack Section)*/
/*General List Section- same spacing as TextSection*/
.listSection {
    margin-left: 10%;
    margin-top: 30px;
}
/*List Section Name*/
.listHeader {
    font-size: 35px;
    font-weight: lighter;
}
/*Sub List Titles*/
.listTitle {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
}
/*List Items*/
.listListItem{
    font-weight: lighter;
    display: inline-block;
    margin-left: 5px;
    margin-right: 10px;
}

ul {
  list-style-type: none;
}
.linkMenu {
    overflow:auto;
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
    background-color: #d0dbe2;
}
.linkDiv {
    display: inline-block;
    text-align: center;
    margin: 0px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color:  #d0dbe2;
    margin-left: 4%;
    margin-right: 4%;

}
.innerDiv {
    display: block;
}

.linkImg {
   margin-top: 0px; 
   margin-bottom: 5px;
   display: block;
   padding-left: 30%;

}
.linkDiv li {
    text-align: center;
}

.linDiv[alt="Notebook"]{
    padding-left: 35%;
}

.linkTitle {
    /*text-align: center;*/   
    margin-top:10px;
    font-size: 12px;
    margin-bottom: 0px;
}

.linkByline {
    text-align: center;
    margin:0px;
    font-size: 12px;
}


