body {
    font-family: 'Overpass', sans-serif;
    margin: 0;
}
.imgDiv {
    height: 225px;
}
.yourImg {
    margin-top: 25px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 40%;
}

.yourName {
    text-align: center;
    font-size: 60px;
    font-weight: lighter;
}

.oneLinerDiv {
    font-size: 18px;
    font-weight: lighter;
    font-style: oblique;
    text-align: center;
    margin-bottom: 25px;

}

.menuStart {
    background-color: #d0dbe2;
    text-align: center;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;

}

.menuTop {
    background-color: #d0dbe2;
    text-align: center;
    height: 60px;
    top: 0;
    width: 100%;
    overflow: hidden; 
}

.menuButton {
    background-color: #d0dbe2;
    margin-top: 0px;
    margin-left: 4%;
    margin-right: 4%;
    border: none;
    margin-top: 20px;   

}

.ImagesSection {
    margin-left: 40%;


}

.textLinkImgDiv {
    
    height: 60px;
    display: block;
    margin-left: 70%;

}

.textSection{
    margin-left: 10%;
    margin-top: 30px;
}

.textHeader{
    font-size: 35px;
    font-weight: lighter;

}

.none {
    font-weight: lighter;

}
.first{
    font-size: 20px;
    margin-top:20px;
    margin-bottom:20px;
}

.textDict, ul {
    display: inline-block;
    padding-left: 0px;
}

.textListHeader {
    font-weight: bold;
}

.textList {
    font-weight: lighter;
}

.listSection {
    margin-left: 10%;
    margin-top: 30px;
}
.listHeader {
    font-size: 35px;
    font-weight: lighter;
}

.listTitle {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;

}

.listListItem{
    font-weight: lighter;
    display: inline-block;
    margin-left: 5px;
    margin-right: 10px;
}
/*.Stack .textSecond {
    margin: 5px;
    font-weight: bold;
    margin: 15px;
    display: inline-block;
    
}

.Stack li {
    display: inline-block;
    font-weight: lighter;
    margin: 5px;
}
*/

.About .textDict {
    overflow:auto;
    display: block;
    float: left;
    width: 30%;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.About li {
  /*  display: flex;*/
}
.About li {

    font-size: 13px;
}

ul {
  list-style-type: none;
}
.linkMenu {
    overflow:auto;
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
    background-color: #d0dbe2;
}
.linkDiv {
    display: inline-block;
    text-align: center;
    margin: 0px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color:  #d0dbe2;
    margin-left: 4%;
    margin-right: 4%;

}
.innerDiv {
    display: block;

}

.linkImg {
   margin-top: 0px; 
   margin-bottom: 0px;
   display: block;
   padding: 10px;

}

.anchorLink {
    display: inline-block;
    float: left;
    text-decoration: none;
    color: black;
}

.linkTitle {
    text-align: center;   
    margin-top:10px;
    font-size: 12px;
    margin-bottom: 0px;
}

.linkByline {
    text-align: center;
    margin:0px;
    font-size: 12px;
}

.isSeen {
    position: absolute;
    height: 100%;
    opacity: 1;
    z-index: 2;
    display: inline-block;
    margin-left:25%;
}


.isNotSeen {
    position: absolute;
    height: 100%;
    opacity: 0;
    z-index: 1;
    display: inline-block;
    margin-left:25%;
}

.imgCarouselList {
    position: relative;
    height: 250px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: block;
}

.btnCarouselDiv {
    display: inline-block;
    background-color: pink;
    padding: 3px;
    height: 25px;
    width: 100px;
    margin-left: 25%;
    margin-top: 50px;
}

.btnbackwardImg {
    float: left;
    position: relative;
    font-size: 25px;
    bottom: 2px; 
    left: 20px;
}

.btnforwardImg {
    float: right;
    position: relative;
    font-size: 25px;
    bottom: 2px; 
    right: 20px; 
}
