body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
  color:#212b31;

}

.dark {
   /* background-color: #36454f;*/
    height: 170px;
}
.mainMenu {
    margin-bottom: 10px;

}
.innerMainMenu {
    /*position: fixed;*/
    width: 100%;
    overflow: hidden; 
    display: block;

}
.innerMainMenu {
    top:0;
    position: fixed;
    width: 100%;
    overflow: hidden; 
    display: block;
    background: white;

}

.Overview {

}

.yourImg {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 50%;
    z-index: 2;
    margin: -130px;
}

.headerBuffer {
    height: 70px;

}

.linkImg {
    margin: 20px;
}
div {
    white-space:pre;
}

.nameDiv {
    font-family: 'Overpass', sans-serif;
    font-size: 25px;
    text-align: center;
    color: black;
    font-weight: 300i;
}

.nameDiv h1 {
    margin-top: 5px;
    margin-bottom: 3px;
}

.oneLinerDiv {
    text-align: center;
    /*border-top: double 3px black;
    border-bottom: double 3px black;*/
    margin-left: 10px;
    margin-right: 10px;
    font-style: italic;
}
.linkMenu {
    display: block;
    margin: 0px;

}
.linkDiv {
    display: inline-block;
    text-align: center;
    margin: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.innerDiv {
    display: block;

}

.linkImg {
   margin-top: 0px; 
   margin-bottom: 0px;
   display: block;
   padding: 10px;

}

.anchorLink {
    display: inline-block;
    float: left;
    text-decoration: none;
    color: black;
}

.linkTitle {
    text-align: center;   
    margin-top:10px;
    font-size: 12px;
    margin-bottom: 0px;
}

.linkByline {
    text-align: center;
    margin:0px;
    font-size: 12px;
    
}

.lowMenu {
    
    background-color: #36454f;
    text-align: center;
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden; 

}

.menu {
    
    background-color: #36454f;
    text-align: center;
    height: 30px;
    /*position: fixed;*/
    top: 0;
    width: 100%;
    overflow: hidden; 

}

.menuButton{
    margin-top: 0px;
    margin-left: 1%;
    margin-right: 1%;
    border: none;
    /*border-bottom: solid black 1px;*/
    background-color: #36454f;
    color: white;

}
.dictionarySection{
    margin: 10px;
}

.dictHeader {
  font-size: 30px;

}

.dictText {
    display: block;

}

.dictKey {
    display: inline-block;
    margin: 5px;
    font-weight: bold;
    font-size: 18px;

}

.dictVal {
    display: inline-block;
    margin: 5px;
    font-size: 15px;
    font-weight: lighter;

}

.listSection {
    margin: 10px;
}

.listHeader {
    display: inline-block;
    margin: 5px;
}

.listText {
    
}

.listItem {
    display: inline-block;
    margin: 5px;
    font-style: oblique;

}
.textSection{
    margin: 10px;
}
.textHeader {
    font-size: 30px;
    margin-bottom:0px;

}

.textDict{
    font-weight: bold;
    font-size: 15px;
    margin: 5px;
    margin-top: 0px;
}

.textList {
    font-weight: lighter;
    font-size: 15px;
    margin: 5px;
    margin-bottom:0px;
}
.first {
    margin: 5px;
    font-weight: bold;
    font-size: 18px;
}

.second {
    font-style: oblique;
    font-weight: lighter;
    font-size: 15px;
    margin: 5px;
}

.third {
    margin: 5px;
    font-weight: bold;
    font-style: oblique;
}

.none {
    margin-left: 15px;
    padding: 12px;
}

li {
    list-style-type: none;
}
.Projects ul {
    height :40px;
}
.Projects .none {
    padding: 5px;
}
.Projects .first {
    margin-top:10px;
}

.Stack .textSecond {
    margin: 5px;
    font-weight: bold;
    margin: 15px;
    display: inline-block;
    
}

.Stack li {
    display: inline-block;
    font-weight: normal;
    margin: 5px;
}
